USE [DataSaludPeruDW]
GO
/****** Objeto: Table [dbo].[DimTiempo] Fecha de script: 8/10/2026 13:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimTiempo](
	[IdTiempo] [int] IDENTITY(1,1) NOT NULL,
	[Anio] [int] NOT NULL,
	[Mes] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTiempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DimUbicacion] Fecha de script: 8/10/2026 13:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimUbicacion](
	[IdUbicacion] [int] IDENTITY(1,1) NOT NULL,
	[Region] [nvarchar](100) NOT NULL,
	[Provincia] [nvarchar](100) NOT NULL,
	[Distrito] [nvarchar](100) NOT NULL,
	[UbigeoDistrito] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUbicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DimIPRESS] Fecha de script: 8/10/2026 13:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimIPRESS](
	[IdIPRESS] [int] IDENTITY(1,1) NOT NULL,
	[CodIPRESS] [nvarchar](50) NOT NULL,
	[IPRESS] [nvarchar](200) NOT NULL,
	[NivelEESS] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIPRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FactAtenciones] Fecha de script: 8/10/2026 13:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactAtenciones](
	[IdHecho] [int] IDENTITY(1,1) NOT NULL,
	[IdTiempo] [int] NOT NULL,
	[IdUbicacion] [int] NOT NULL,
	[IdIPRESS] [int] NOT NULL,
	[Atenciones] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHecho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[vw_DashboardAtenciones] Fecha de script: 8/10/2026 13:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_DashboardAtenciones]
AS
SELECT
    T.Anio,
    T.Mes,
    U.Region,
    U.Provincia,
    U.Distrito,
    I.CodIPRESS,
    I.IPRESS,
    I.NivelEESS,
    F.Atenciones
FROM FactAtenciones F
INNER JOIN DimTiempo T
    ON F.IdTiempo = T.IdTiempo
INNER JOIN DimUbicacion U
    ON F.IdUbicacion = U.IdUbicacion
INNER JOIN DimIPRESS I
    ON F.IdIPRESS = I.IdIPRESS;
GO
/****** Objeto: Table [dbo].[LogETL] Fecha de script: 8/10/2026 13:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogETL](
	[IdLog] [int] IDENTITY(1,1) NOT NULL,
	[FechaEjecucion] [datetime] NULL,
	[Proceso] [nvarchar](100) NULL,
	[RegistrosProcesados] [int] NULL,
	[Estado] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LogETL] ADD  DEFAULT (getdate()) FOR [FechaEjecucion]
GO
ALTER TABLE [dbo].[FactAtenciones]  WITH CHECK ADD  CONSTRAINT [FK_FactAtenciones_IPRESS] FOREIGN KEY([IdIPRESS])
REFERENCES [dbo].[DimIPRESS] ([IdIPRESS])
GO
ALTER TABLE [dbo].[FactAtenciones] CHECK CONSTRAINT [FK_FactAtenciones_IPRESS]
GO
ALTER TABLE [dbo].[FactAtenciones]  WITH CHECK ADD  CONSTRAINT [FK_FactAtenciones_Tiempo] FOREIGN KEY([IdTiempo])
REFERENCES [dbo].[DimTiempo] ([IdTiempo])
GO
ALTER TABLE [dbo].[FactAtenciones] CHECK CONSTRAINT [FK_FactAtenciones_Tiempo]
GO
ALTER TABLE [dbo].[FactAtenciones]  WITH CHECK ADD  CONSTRAINT [FK_FactAtenciones_Ubicacion] FOREIGN KEY([IdUbicacion])
REFERENCES [dbo].[DimUbicacion] ([IdUbicacion])
GO
ALTER TABLE [dbo].[FactAtenciones] CHECK CONSTRAINT [FK_FactAtenciones_Ubicacion]
GO
